.DesignSec {
  width: 50%;
  background-size: cover;
  background-position: top 25% left 50%;
  background-repeat: no-repeat;
  text-align: center;
}
.design-text {
  padding: 35vh 8vw 2rem;
}
.design-text .title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.design-text p {
  font-size: 0.9rem;
}
@media only screen and (max-width: 770px) {
  .DesignSec {
    width: calc(100% + 4rem);
    padding: 2rem;
    background-position: top center;
  }
  .design-text {
    padding: 45vw 0 0;
  }
  .design-text .title {
    margin-top: 1rem;
  }
}
