* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 18px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.barlow-font {
  font-family: "Barlow", sans-serif;
}
.fraunces-font {
  font-family: "Fraunces", serif;
}
@media only screen and (max-width: 770px) {
  html {
    font-size: 16px;
  }
}
